body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}


.main{
  // padding: 25px;
  // padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #65FFD4;
}

.new_btn{
  box-sizing: border-box;
  background-color: #14D888;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  svg:hover{
    path{
      fill: #14D888;  
    }
  }
}
.new_btn:hover {
  text-decoration: none;
  transition: all .8s;
  font-weight: bolder;
  border: 3px solid #14D888;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: black;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 1em 2.4em;
  text-decoration: none;
  text-align: center;
  font-family: Century Gothic;
  font-weight: 700;
  color:#14D888;
  margin: 15px;
  position: relative;

  
}
.btn:hover {
    text-decoration: none;
    transition: all .8s;
    font-weight: bolder;
    border: 3px solid black;
    color: black;
    background-color: #14D888;

}
.btn:active {
  background-color: lime;
  border-radius: 15px;
}

.form {
  position: fixed;
  min-width: 400px;
  min-height: 300px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #00FFA9;
  margin: 30px;
  opacity: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 100px;
}

.modal-window {
  position: fixed;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}

.nav {
  height: 70px;
  width: 100%;
  background-color: #272822;
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
}

.link {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #14D888;
  margin-left: 15px;
  text-decoration: none;
}
.link:hover{
  text-decoration: none;
  transition: all .7s;
  font-weight: bolder;
  letter-spacing: 0.3em; 
}

.card{
  padding: 20px;
  background-color: white;
  padding-top: 0;
  padding-right: 30px;
  width: 20%;
  box-sizing: border-box;
  min-width: 300px;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover{
    box-shadow: 2px 0px 31px -10px rgba(120,137,158,1);
    transform: translateY(-5px);
  }

  .button_like{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  img{
    width: 100%;
    // min-width: 200px;
  }
  .title_cart{
    margin: 10px 0 5px 0;
  }
  .list_card{
    display: flex;
    flex-direction: column;
  }
  .mar_bot_10{
    margin-bottom: 10px;
  }
}

.cards{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14D888;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  // span:hover{
  //   color: #619AD4;
  // }
  svg:hover{
    stroke-width: 1px;
    path{
      fill: #619AD4;
      stroke: #619AD4; 
    }
  }
  .logo{
    width: 100px;
    cursor: pointer;
  }
  .icon{
    width: 30px;
    cursor: pointer;
  }

  .curs_p {
    cursor: pointer;
  }

  .cart{
    width: 100px;
   } 
  
  ul{
    list-style-type: none;
  }
  .header_left{
    display: flex;
    align-items: center;
    width: 40%;
  }
  .title_header{
    font-size: 25px;
    text-transform: uppercase;
  }
  .m_p_0{
    margin: 0;
    padding: 0;
  }

  .w_100_pr{
    width: 100%;
  }

  .padding_l_10{
    padding-left: 10px;
  }
  .padding_l_20{
    padding-left: 20px;
  }
  .padding_l_30{
    padding-left: 30px;
  }
  .padding_l_40{
    padding-left: 40px;
  }

  .header_right{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    .flex_li{
      display: flex;
      align-items: center;
    }
    .flex_li_half{
      width: 50%;
    }
  }
}
.wrapper{
  // max-width: 1080px;
  // margin: 50px auto;
  width: 100%;
}
.header_cont{
  background-color: white;
  padding: 20px;
  h1{
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
}

.fl_between{
  display: flex;
  justify-content: space-between;
}
.fl_col{
  display: flex;
  flex-direction: column;
}

.al_items_end{
  align-items: flex-end;
}

.al_items_cen{
  align-items: center;
}

.search_block{
  border: 2px solid #14D888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  input{
    border:none;
    outline: none;
  }
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
  width: 100%;
  height: 100%;
}
.drawer{
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  right: 0;
  width: 30%;
  background-color: white;
  box-shadow: 2px 0px 31px -10px rgba(120,137,158,1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  .new_btn{
    box-sizing: border-box;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 3px;
    margin-top: 0;
    svg:hover{
      path{
        fill: #E2E223;  
      }
    }
  }
  .new_btn:hover {
    text-decoration: none;
    transition: all .8s;
    font-weight: bolder;
    border: 2px solid #707C79;
    background-color: transparent;
    cursor: pointer;
  }

  .new_btn:active {
    background-color: #707C79;
    border-radius: 20px;
    opacity: 0.5;
  }
  h2{
    margin: 0;
  }
  ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .cartItems{
    flex: 1;
    overflow: auto;
    margin-bottom: 30px;
  }
  .cartItem{
    .img_wrap{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    margin-bottom: 20px;
    img{
      // max-width: 150px;
      width: 70%;
      margin-bottom: 10px;
    }
    p{
      margin: 0;
      font-size: 15px;
    }
    b{
      font-size: 16px;
    }
    
  }

  .cartItem:hover{
    box-shadow: 2px 0px 31px -10px rgba(120,137,158,1);
    transform: translateY(-5px);
    transition: all 1s;
    padding: 20px;
    padding-top: 0;
    margin: 20px;
    border-radius: 10px;
  }
}

.cartEmpty{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  .title{
    margin-bottom: 20px;

  }
  img{
    width: 70%;
  }
}

.hero{
  width: 100%;
  img{
    width: 100%;
  }
}

.slider{
  color: red;
}






